/*fl fr text-r text-l 等等*/
/*固定部分*/

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {margin:0;padding:0;}

body, button, input, select, textarea {font:12px/1.5tahoma, arial, b8bf53;}

h1, h2, h3, h4, h5, h6{font-size:100%;}

address, cite, dfn, em, var {font-style:normal;}

code, kbd, pre, samp {font-family:couriernew, courier, monospace;}

small{font-size:12px;}

ul, ol {list-style:none;}

a {text-decoration:none;}

a:hover {text-decoration:none;}

sup {vertical-align:text-top;}

sub{vertical-align:text-bottom;}

legend {color:#000;}

fieldset, img {border:0;}

button, input, select, textarea {font-size:100%;}

table {border-collapse:collapse;border-spacing:0;}

img{max-width: 100%;max-height: 100%;}

.fl{float:left;}

.fr{float:right;}

.full-width{width:100% !important }

.fly-out{position: absolute;left: -10000px;}

.text-c{text-align:center;}

.text-r{text-align:right;}

.text-l{text-align:left }

.pointer{cursor:pointer;}

.none{display:none;}

.hidden{visibility: hidden;}

.clear{clear:both;}

.position-a{position:absolute }

.position-r{position:relative }

.bold{font-weight:600}

.padding0{padding:0}

.padding-r0{padding-right:0}

.padding-l0{padding-left:0}

.padding-t0{padding-top:0}

.padding-b0{padding-bottom:0}

.margin0{margin:0;}

.margin-r0{margin-right:0}

.margin-l0{margin-left:0}

.margin-t0{margin-top:0}

.margin-b0{margin-bottom:0}

.border0{border:0;}

.border-r0{border-right:0}

.border-l0{border-left:0}

.border-t0{border-top:0}

.border-b0{border-bottom:0}

.left0{left:0;}

.right0{right:0;}

.bottom0{bottom:0;}

.top0{top:0;}

.block{display: block}

.inline-block{display: inline-block}

.index9{z-index:9}

.index99{z-index:99}

.index999{z-index:999}

.index9999{z-index:9999}

.width25{width:25%}

.width50{width:50%}

.width75{width:75%}

.width100{width:100%}

.height100{height: 100%;}

.line-height75{line-height: 75%;}

.line-height100{line-height: 100%;}

.lights:hover{color:#666;}

.page{max-width: 750px;min-width:320px;margin: 0 auto;}

/*枚举部分-字号*/
.font5{font-size:0.05rem;}
.font6{font-size:0.06rem;}
.font7{font-size:0.07rem;}
.font8{font-size:0.08rem;}
.font9{font-size:0.09rem;}
.font10{font-size:0.1rem;}
.font11{font-size:0.11rem;}
.font12{font-size:0.12rem;}
.font13{font-size:0.13rem;}
.font14{font-size:0.14rem;}
.font15{font-size:0.15rem;}
.font16{font-size:0.16rem;}
.font17{font-size:0.17rem;}
.font18{font-size:0.18rem;}
.font19{font-size:0.19rem;}
.font20{font-size:0.2rem;}
.font21{font-size:0.21rem;}
.font22{font-size:0.22rem;}
.font23{font-size:0.23rem;}
.font24{font-size:0.24rem;}
.font25{font-size:0.25rem;}
.font26{font-size:0.26rem;}
.font27{font-size:0.27rem;}
.font28{font-size:0.28rem;}
.font29{font-size:0.29rem;}
.font30{font-size:0.3rem;}
.font31{font-size:0.31rem;}
.font32{font-size:0.32rem;}
.font33{font-size:0.33rem;}
.font34{font-size:0.34rem;}
.font35{font-size:0.35rem;}
.font36{font-size:0.36rem;}
.font37{font-size:0.37rem;}
.font38{font-size:0.38rem;}
.font39{font-size:0.39rem;}
.font40{font-size:0.4rem;}
/*枚举部分-外边距*/
.margin5{margin:0.05rem;}
.margin-t5{margin-top:0.05rem;}
.margin-r5{margin-right:0.05rem;}
.margin-b5{margin-bottom:0.05rem;}
.margin-l5{margin-left:0.05rem;}
.margin10{margin:0.1rem;}
.margin-t10{margin-top:0.1rem;}
.margin-r10{margin-right:0.1rem;}
.margin-b10{margin-bottom:0.1rem;}
.margin-l10{margin-left:0.1rem;}
.margin15{margin:0.15rem;}
.margin-t15{margin-top:0.15rem;}
.margin-r15{margin-right:0.15rem;}
.margin-b15{margin-bottom:0.15rem;}
.margin-l15{margin-left:0.15rem;}
.margin20{margin:0.2rem;}
.margin-t20{margin-top:0.2rem;}
.margin-r20{margin-right:0.2rem;}
.margin-b20{margin-bottom:0.2rem;}
.margin-l20{margin-left:0.2rem;}
.margin25{margin:0.25rem;}
.margin-t25{margin-top:0.25rem;}
.margin-r25{margin-right:0.25rem;}
.margin-b25{margin-bottom:0.25rem;}
.margin-l25{margin-left:0.25rem;}
.margin30{margin:0.3rem;}
.margin-t30{margin-top:0.3rem;}
.margin-r30{margin-right:0.3rem;}
.margin-b30{margin-bottom:0.3rem;}
.margin-l30{margin-left:0.3rem;}
.margin35{margin:0.35rem;}
.margin-t35{margin-top:0.35rem;}
.margin-r35{margin-right:0.35rem;}
.margin-b35{margin-bottom:0.35rem;}
.margin-l35{margin-left:0.35rem;}
.margin40{margin:0.4rem;}
.margin-t40{margin-top:0.4rem;}
.margin-r40{margin-right:0.4rem;}
.margin-b40{margin-bottom:0.4rem;}
.margin-l40{margin-left:0.4rem;}
.margin45{margin:0.45rem;}
.margin-t45{margin-top:0.45rem;}
.margin-r45{margin-right:0.45rem;}
.margin-b45{margin-bottom:0.45rem;}
.margin-l45{margin-left:0.45rem;}
.margin50{margin:0.5rem;}
.margin-t50{margin-top:0.5rem;}
.margin-r50{margin-right:0.5rem;}
.margin-b50{margin-bottom:0.5rem;}
.margin-l50{margin-left:0.5rem;}
.margin55{margin:0.55rem;}
.margin-t55{margin-top:0.55rem;}
.margin-r55{margin-right:0.55rem;}
.margin-b55{margin-bottom:0.55rem;}
.margin-l55{margin-left:0.55rem;}
.margin60{margin:0.6rem;}
.margin-t60{margin-top:0.6rem;}
.margin-r60{margin-right:0.6rem;}
.margin-b60{margin-bottom:0.6rem;}
.margin-l60{margin-left:0.6rem;}
.margin65{margin:0.65rem;}
.margin-t65{margin-top:0.65rem;}
.margin-r65{margin-right:0.65rem;}
.margin-b65{margin-bottom:0.65rem;}
.margin-l65{margin-left:0.65rem;}
.margin70{margin:0.7rem;}
.margin-t70{margin-top:0.7rem;}
.margin-r70{margin-right:0.7rem;}
.margin-b70{margin-bottom:0.7rem;}
.margin-l70{margin-left:0.7rem;}
.margin75{margin:0.75rem;}
.margin-t75{margin-top:0.75rem;}
.margin-r75{margin-right:0.75rem;}
.margin-b75{margin-bottom:0.75rem;}
.margin-l75{margin-left:0.75rem;}
.margin80{margin:0.8rem;}
.margin-t80{margin-top:0.8rem;}
.margin-r80{margin-right:0.8rem;}
.margin-b80{margin-bottom:0.8rem;}
.margin-l80{margin-left:0.8rem;}
.margin85{margin:0.85rem;}
.margin-t85{margin-top:0.85rem;}
.margin-r85{margin-right:0.85rem;}
.margin-b85{margin-bottom:0.85rem;}
.margin-l85{margin-left:0.85rem;}
.margin90{margin:0.9rem;}
.margin-t90{margin-top:0.9rem;}
.margin-r90{margin-right:0.9rem;}
.margin-b90{margin-bottom:0.9rem;}
.margin-l90{margin-left:0.9rem;}
.margin95{margin:0.95rem;}
.margin-t95{margin-top:0.95rem;}
.margin-r95{margin-right:0.95rem;}
.margin-b95{margin-bottom:0.95rem;}
.margin-l95{margin-left:0.95rem;}
.margin100{margin:1rem;}
.margin-t100{margin-top:1rem;}
.margin-r100{margin-right:1rem;}
.margin-b100{margin-bottom:1rem;}
.margin-l100{margin-left:1rem;}
/*枚举部分-内边距*/
.padding5{padding:0.05rem;}
.padding-t5{padding-top:0.05rem;}
.padding-r5{padding-right:0.05rem;}
.padding-b5{padding-bottom:0.05rem;}
.padding-l5{padding-left:0.05rem;}
.side5{padding-left:0.05rem;padding-right:0.05rem;}
.padding10{padding:0.1rem;}
.padding-t10{padding-top:0.1rem;}
.padding-r10{padding-right:0.1rem;}
.padding-b10{padding-bottom:0.1rem;}
.padding-l10{padding-left:0.1rem;}
.side10{padding-left:0.1rem;padding-right:0.1rem;}
.padding15{padding:0.15rem;}
.padding-t15{padding-top:0.15rem;}
.padding-r15{padding-right:0.15rem;}
.padding-b15{padding-bottom:0.15rem;}
.padding-l15{padding-left:0.15rem;}
.side15{padding-left:0.15rem;padding-right:0.15rem;}
.padding20{padding:0.2rem;}
.padding-t20{padding-top:0.2rem;}
.padding-r20{padding-right:0.2rem;}
.padding-b20{padding-bottom:0.2rem;}
.padding-l20{padding-left:0.2rem;}
.side20{padding-left:0.2rem;padding-right:0.2rem;}
.padding25{padding:0.25rem;}
.padding-t25{padding-top:0.25rem;}
.padding-r25{padding-right:0.25rem;}
.padding-b25{padding-bottom:0.25rem;}
.padding-l25{padding-left:0.25rem;}
.side25{padding-left:0.25rem;padding-right:0.25rem;}
.padding30{padding:0.3rem;}
.padding-t30{padding-top:0.3rem;}
.padding-r30{padding-right:0.3rem;}
.padding-b30{padding-bottom:0.3rem;}
.padding-l30{padding-left:0.3rem;}
.side30{padding-left:0.3rem;padding-right:0.3rem;}
.padding35{padding:0.35rem;}
.padding-t35{padding-top:0.35rem;}
.padding-r35{padding-right:0.35rem;}
.padding-b35{padding-bottom:0.35rem;}
.padding-l35{padding-left:0.35rem;}
.side35{padding-left:0.35rem;padding-right:0.35rem;}
.padding40{padding:0.4rem;}
.padding-t40{padding-top:0.4rem;}
.padding-r40{padding-right:0.4rem;}
.padding-b40{padding-bottom:0.4rem;}
.padding-l40{padding-left:0.4rem;}
.side40{padding-left:0.4rem;padding-right:0.4rem;}
.padding45{padding:0.45rem;}
.padding-t45{padding-top:0.45rem;}
.padding-r45{padding-right:0.45rem;}
.padding-b45{padding-bottom:0.45rem;}
.padding-l45{padding-left:0.45rem;}
.side45{padding-left:0.45rem;padding-right:0.45rem;}
.padding50{padding:0.5rem;}
.padding-t50{padding-top:0.5rem;}
.padding-r50{padding-right:0.5rem;}
.padding-b50{padding-bottom:0.5rem;}
.padding-l50{padding-left:0.5rem;}
.side50{padding-left:0.5rem;padding-right:0.5rem;}
.padding55{padding:0.55rem;}
.padding-t55{padding-top:0.55rem;}
.padding-r55{padding-right:0.55rem;}
.padding-b55{padding-bottom:0.55rem;}
.padding-l55{padding-left:0.55rem;}
.side55{padding-left:0.55rem;padding-right:0.55rem;}
.padding60{padding:0.6rem;}
.padding-t60{padding-top:0.6rem;}
.padding-r60{padding-right:0.6rem;}
.padding-b60{padding-bottom:0.6rem;}
.padding-l60{padding-left:0.6rem;}
.side60{padding-left:0.6rem;padding-right:0.6rem;}
.padding65{padding:0.65rem;}
.padding-t65{padding-top:0.65rem;}
.padding-r65{padding-right:0.65rem;}
.padding-b65{padding-bottom:0.65rem;}
.padding-l65{padding-left:0.65rem;}
.side65{padding-left:0.65rem;padding-right:0.65rem;}
.padding70{padding:0.7rem;}
.padding-t70{padding-top:0.7rem;}
.padding-r70{padding-right:0.7rem;}
.padding-b70{padding-bottom:0.7rem;}
.padding-l70{padding-left:0.7rem;}
.side70{padding-left:0.7rem;padding-right:0.7rem;}
.padding75{padding:0.75rem;}
.padding-t75{padding-top:0.75rem;}
.padding-r75{padding-right:0.75rem;}
.padding-b75{padding-bottom:0.75rem;}
.padding-l75{padding-left:0.75rem;}
.side75{padding-left:0.75rem;padding-right:0.75rem;}
.padding80{padding:0.8rem;}
.padding-t80{padding-top:0.8rem;}
.padding-r80{padding-right:0.8rem;}
.padding-b80{padding-bottom:0.8rem;}
.padding-l80{padding-left:0.8rem;}
.side80{padding-left:0.8rem;padding-right:0.8rem;}
.padding85{padding:0.85rem;}
.padding-t85{padding-top:0.85rem;}
.padding-r85{padding-right:0.85rem;}
.padding-b85{padding-bottom:0.85rem;}
.padding-l85{padding-left:0.85rem;}
.side85{padding-left:0.85rem;padding-right:0.85rem;}
.padding90{padding:0.9rem;}
.padding-t90{padding-top:0.9rem;}
.padding-r90{padding-right:0.9rem;}
.padding-b90{padding-bottom:0.9rem;}
.padding-l90{padding-left:0.9rem;}
.side90{padding-left:0.9rem;padding-right:0.9rem;}
.padding95{padding:0.95rem;}
.padding-t95{padding-top:0.95rem;}
.padding-r95{padding-right:0.95rem;}
.padding-b95{padding-bottom:0.95rem;}
.padding-l95{padding-left:0.95rem;}
.side95{padding-left:0.95rem;padding-right:0.95rem;}
.padding100{padding:1rem;}
.padding-t100{padding-top:1rem;}
.padding-r100{padding-right:1rem;}
.padding-b100{padding-bottom:1rem;}
.padding-l100{padding-left:1rem;}
.side100{padding-left:1rem;padding-right:1rem;}
/*枚举部分-倒角*/
.border-radius5{border-radius:0.05rem;}
.border-radius10{border-radius:0.1rem;}
.border-radius15{border-radius:0.15rem;}
.border-radius20{border-radius:0.2rem;}
.border-radius25{border-radius:0.25rem;}
.border-radius30{border-radius:0.3rem;}
.border-radius35{border-radius:0.35rem;}
.border-radius40{border-radius:0.4rem;}
.border-radius45{border-radius:0.45rem;}
.border-radius50{border-radius:0.5rem;}
.border-radius55{border-radius:0.55rem;}
.border-radius60{border-radius:0.6rem;}
.border-radius65{border-radius:0.65rem;}
.border-radius70{border-radius:0.7rem;}
.border-radius75{border-radius:0.75rem;}
.border-radius80{border-radius:0.8rem;}
.border-radius85{border-radius:0.85rem;}
.border-radius90{border-radius:0.9rem;}
.border-radius95{border-radius:0.95rem;}
.border-radius100{border-radius:1rem;}
/*枚举部分-绝对定位*/
.top2{top:0.02rem;}
.right2{right:0.02rem;}
.bottom2{bottom:0.02rem;}
.left2{left:0.02rem;}
.top4{top:0.04rem;}
.right4{right:0.04rem;}
.bottom4{bottom:0.04rem;}
.left4{left:0.04rem;}
.top6{top:0.06rem;}
.right6{right:0.06rem;}
.bottom6{bottom:0.06rem;}
.left6{left:0.06rem;}
.top8{top:0.08rem;}
.right8{right:0.08rem;}
.bottom8{bottom:0.08rem;}
.left8{left:0.08rem;}
.top10{top:0.1rem;}
.right10{right:0.1rem;}
.bottom10{bottom:0.1rem;}
.left10{left:0.1rem;}
.top12{top:0.12rem;}
.right12{right:0.12rem;}
.bottom12{bottom:0.12rem;}
.left12{left:0.12rem;}
.top14{top:0.14rem;}
.right14{right:0.14rem;}
.bottom14{bottom:0.14rem;}
.left14{left:0.14rem;}
.top16{top:0.16rem;}
.right16{right:0.16rem;}
.bottom16{bottom:0.16rem;}
.left16{left:0.16rem;}
.top18{top:0.18rem;}
.right18{right:0.18rem;}
.bottom18{bottom:0.18rem;}
.left18{left:0.18rem;}
.top20{top:0.2rem;}
.right20{right:0.2rem;}
.bottom20{bottom:0.2rem;}
.left20{left:0.2rem;}
.top22{top:0.22rem;}
.right22{right:0.22rem;}
.bottom22{bottom:0.22rem;}
.left22{left:0.22rem;}
.top24{top:0.24rem;}
.right24{right:0.24rem;}
.bottom24{bottom:0.24rem;}
.left24{left:0.24rem;}
.top26{top:0.26rem;}
.right26{right:0.26rem;}
.bottom26{bottom:0.26rem;}
.left26{left:0.26rem;}
.top28{top:0.28rem;}
.right28{right:0.28rem;}
.bottom28{bottom:0.28rem;}
.left28{left:0.28rem;}
.top30{top:0.3rem;}
.right30{right:0.3rem;}
.bottom30{bottom:0.3rem;}
.left30{left:0.3rem;}
.top32{top:0.32rem;}
.right32{right:0.32rem;}
.bottom32{bottom:0.32rem;}
.left32{left:0.32rem;}
.top34{top:0.34rem;}
.right34{right:0.34rem;}
.bottom34{bottom:0.34rem;}
.left34{left:0.34rem;}
.top36{top:0.36rem;}
.right36{right:0.36rem;}
.bottom36{bottom:0.36rem;}
.left36{left:0.36rem;}
.top38{top:0.38rem;}
.right38{right:0.38rem;}
.bottom38{bottom:0.38rem;}
.left38{left:0.38rem;}
.top40{top:0.4rem;}
.right40{right:0.4rem;}
.bottom40{bottom:0.4rem;}
.left40{left:0.4rem;}
.top42{top:0.42rem;}
.right42{right:0.42rem;}
.bottom42{bottom:0.42rem;}
.left42{left:0.42rem;}
.top44{top:0.44rem;}
.right44{right:0.44rem;}
.bottom44{bottom:0.44rem;}
.left44{left:0.44rem;}
.top46{top:0.46rem;}
.right46{right:0.46rem;}
.bottom46{bottom:0.46rem;}
.left46{left:0.46rem;}
.top48{top:0.48rem;}
.right48{right:0.48rem;}
.bottom48{bottom:0.48rem;}
.left48{left:0.48rem;}
.top50{top:0.5rem;}
.right50{right:0.5rem;}
.bottom50{bottom:0.5rem;}
.left50{left:0.5rem;}
.top52{top:0.52rem;}
.right52{right:0.52rem;}
.bottom52{bottom:0.52rem;}
.left52{left:0.52rem;}
.top54{top:0.54rem;}
.right54{right:0.54rem;}
.bottom54{bottom:0.54rem;}
.left54{left:0.54rem;}
.top56{top:0.56rem;}
.right56{right:0.56rem;}
.bottom56{bottom:0.56rem;}
.left56{left:0.56rem;}
.top58{top:0.58rem;}
.right58{right:0.58rem;}
.bottom58{bottom:0.58rem;}
.left58{left:0.58rem;}
.top60{top:0.6rem;}
.right60{right:0.6rem;}
.bottom60{bottom:0.6rem;}
.left60{left:0.6rem;}
.top62{top:0.62rem;}
.right62{right:0.62rem;}
.bottom62{bottom:0.62rem;}
.left62{left:0.62rem;}
.top64{top:0.64rem;}
.right64{right:0.64rem;}
.bottom64{bottom:0.64rem;}
.left64{left:0.64rem;}
.top66{top:0.66rem;}
.right66{right:0.66rem;}
.bottom66{bottom:0.66rem;}
.left66{left:0.66rem;}
.top68{top:0.68rem;}
.right68{right:0.68rem;}
.bottom68{bottom:0.68rem;}
.left68{left:0.68rem;}
.top70{top:0.7rem;}
.right70{right:0.7rem;}
.bottom70{bottom:0.7rem;}
.left70{left:0.7rem;}
.top72{top:0.72rem;}
.right72{right:0.72rem;}
.bottom72{bottom:0.72rem;}
.left72{left:0.72rem;}
.top74{top:0.74rem;}
.right74{right:0.74rem;}
.bottom74{bottom:0.74rem;}
.left74{left:0.74rem;}
.top76{top:0.76rem;}
.right76{right:0.76rem;}
.bottom76{bottom:0.76rem;}
.left76{left:0.76rem;}
.top78{top:0.78rem;}
.right78{right:0.78rem;}
.bottom78{bottom:0.78rem;}
.left78{left:0.78rem;}
.top80{top:0.8rem;}
.right80{right:0.8rem;}
.bottom80{bottom:0.8rem;}
.left80{left:0.8rem;}
.top82{top:0.82rem;}
.right82{right:0.82rem;}
.bottom82{bottom:0.82rem;}
.left82{left:0.82rem;}
.top84{top:0.84rem;}
.right84{right:0.84rem;}
.bottom84{bottom:0.84rem;}
.left84{left:0.84rem;}
.top86{top:0.86rem;}
.right86{right:0.86rem;}
.bottom86{bottom:0.86rem;}
.left86{left:0.86rem;}
.top88{top:0.88rem;}
.right88{right:0.88rem;}
.bottom88{bottom:0.88rem;}
.left88{left:0.88rem;}
.top90{top:0.9rem;}
.right90{right:0.9rem;}
.bottom90{bottom:0.9rem;}
.left90{left:0.9rem;}
.top92{top:0.92rem;}
.right92{right:0.92rem;}
.bottom92{bottom:0.92rem;}
.left92{left:0.92rem;}
.top94{top:0.94rem;}
.right94{right:0.94rem;}
.bottom94{bottom:0.94rem;}
.left94{left:0.94rem;}
.top96{top:0.96rem;}
.right96{right:0.96rem;}
.bottom96{bottom:0.96rem;}
.left96{left:0.96rem;}
.top98{top:0.98rem;}
.right98{right:0.98rem;}
.bottom98{bottom:0.98rem;}
.left98{left:0.98rem;}
.top100{top:1rem;}
.right100{right:1rem;}
.bottom100{bottom:1rem;}
.left100{left:1rem;}
/*弹性布局*/

.flex{display:flex;}

.flex-row{flex-direction: row}

.flex-column{flex-direction:column}

.flex-start{justify-content: flex-start}

.flex-end{justify-content:flex-end}

.flex-cente{justify-content:center}

.flex-space-between{justify-content: space-between}

.flex-space-around{justify-content: space-around;}

.flex-align-center{align-items:center;}

.flex-wrap{flex-wrap: wrap;}


/* 拓展设置  需要自定义*/

.color0{color:#000;}

.color3{color:#333;}

.color6{color:#666;}

.color9{color:#999;}

.color-b{color:#50d7da;}

.color-w{color:#fff;}
 
.bg-w{background-color:#fff;}
/*end*/